*.zip
*.pt
*.pth
ppo_conformer_model/

conformer_tensorboard/
runs/
logs/

visualizations/
*.sdf
*.mp4
*.avi
*.gif
*.png

__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
conformer_env/

.vscode/
*.code-workspace
.idea/
.ipynb_checkpoints

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini